<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton icon="pi pi-check" iconPos="right" class="p-button-help" (click)="mostarNombre()"
  label="Cambiar Nombre"></button>

  <br>  <br>

  <p-card [header]="nombre | titlecase" subheader="Full Stack">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolor perspiciatis. Velit quisquam praesentium eum adipisci maxime ab possimus minima consectetur deleniti, quaerat iusto numquam hic odit eligendi quae aliquam.
</p-card> -->

<!-- <p-card>
  <ng-template pTemplate="header">
    Header content here
  </ng-template>
  Body Content
  <ng-template pTemplate="footer">
    Footer content here
  </ng-template>
</p-card> -->

<app-menu></app-menu>